body {
  font-family: Arial;
}

.card {
  width: 625px;
}

.poll__title {
  margin-bottom: 20px;
  font-weight: bold;
}

.poll__answers {
  display: flex;
  gap: 10px;
}

.poll__answer {
  cursor: pointer;
}

.poll__answer:hover {
  border-color: green;
  border-radius: 5px;
}